@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F3F5FC;
}

.base {
    position: absolute;
    width: 1000px;
    height: 300px;
    top: 20px;
    left: 50px;
}

.base textarea {
    position: absolute;
    width: 800px;
    height: 300px;
    top: 100px;
    left: 150px;
    font-size: 32px;
    color: #0A3871;
    background-color: transparent;
    resize: none;
    outline: 0;
    border: 0;
    text-align: center;
}

.base textarea::placeholder {
    color: #0A3871;
}

.buttons {
    position: absolute;
    top: 525px;
    left: 150px;
}

.aviso{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.aviso p {
    position: relative;
    font-size: 14px;
    color: #495057;
    opacity: 0.8;
    padding-left: 10px;
    text-shadow: 2px 2px 5px #222;
}

.cripto {
    width: 328px;
    height: 67px;
    padding: 20px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #222;
}

.cripto p {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #222;
}

.descripto {
    width: 328px;
    height: 67px;
    margin-left: 30px;
    padding: 20px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #222;
}

.descripto p {
    color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 2px 2px 5px #5f5f5f;
}

.decodificador {
    position: absolute;
    width: 400px;
    height: 664px;
    left: 1050px;
    top: 20px;
    background-color: #fff;
    box-shadow: 0px 24px 32px -8px #0A3871;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.estrutura_decodificador {
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.estrutura_decodificador img {
    z-index: 1;
}

.txt_1 {
    position: relative;
    width: 80%;
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
    text-align: center;
    z-index: 1;
}

.txt_2 {
    position: relative;
    width: 80%;
    font-size: 16px;
    font-weight: 400;
    color: #495057;
    text-align: center;
    z-index: 1;
}

#texto_decodificado {
    width: 90%;
    height: 425px;
    text-align: center;
    outline: 0;
    border: 0;
    font-size: 24px;
    color: #0A3871;
    resize: none;
    z-index: 2;
}

.btn_copiar {
    position: relative;
    width: 200px;
    height: 40px;
    padding: 10px;
    background: #0A3871;
    color: #D8DFE8;
    border: 1px solid #D8DFE8;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 5px 5px 5px #222;
    font-weight: bold;
    text-shadow: 2px 2px 5px #222;
}

.btn_copiar:hover {
    border: 0;
    background: #9e9e9e;
    color: #0A3871;
    text-shadow: 2px 2px 5px #5f5f5f;
}